#nos-coachs {

    .carte-coach {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 391px;
        margin: auto;
        margin-bottom: 56px;

        .coach-img {
            img {
                width: 100%;
                height: auto;
            }
        }

        .coach-info {
            background-color: $background2;
            padding: 20px;
            text-align: center;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
        }
    }
}