@import './_config';
@import './_burgerMenu';
@import './_nos-coachs';
@import './_galerie';
@import './_news';
@import './_contact';

@font-face {
    font-display: swap;
    font-family: "made_tommyregular";
    src: url("../fonts/made_tommy_regular_personal_use-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "made_tommyextrabold";
    src: url("../fonts/made_tommy_extrabold_personal_use-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "creato_displayregular";
    src: url("../fonts/creatodisplay-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.container {
    color: $text1;
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

p {
    font-family: "creato_displayregular";
    font-size: 14px;
}

a {
    color: $text1;
    text-decoration: none;
}

ul {
    list-style-type: none;

    li {
        font-family: "made_tommyregular";
    }
}

h2,
h3,
h4 {
    font-family: 'made_tommyregular';
    font-weight: 950;
    text-transform: uppercase;
}

h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 56px;
    margin-bottom: 16px;
}

/*---------------------header--------------------------*/
#bandeau {
    background-color: $background2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    img {
        width: 108px;
    }
}

/*------------------Burger----------------------*/
.nav {
    background-color: $background1;

    &.open {
        background-color: $background1;
    }
}

.menu {
    background-color: $background1;
}

.nav__link {
    color: $text3;
    text-transform: uppercase;
}

/*--------------------slider--------------------*/
.swiper {
    margin-top: 80px;
    height: 247px;
    width: 391px;

    .swiper-slide {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: "made_tommyextrabold";
            font-size: 1.9rem;
            background-color: rgba($text1, 0.7);
            width: 100%;
            text-align: center;
            color: #fff;
        }
    }

    img {
        padding: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }
}

#presentation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 391px;
    margin: auto;



    p {
        background-color: $background2;
        padding: 8px;
        line-height: 1.5;
    }

    p span {
        font-weight: 900;
    }
}

/*---------------------------Horaires et cours-------------------------------*/
.carte-gym {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 391px;
    margin: auto;
    margin-bottom: 56px;

    .gym-img {
        img {
            width: 100%;
            height: auto;
        }
    }

    .gym-info {
        background-color: $background2;
        padding: 20px;
        text-align: center;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .complement {
            font-weight: bold;
            margin-top: 15px;
        }
    }

    .tableau-edt {
        background-color: $background2;

        p {
            font-family: "made_tommyregular";
            font-weight: 500;
        }

        .edt-header {

            background-color: $background3;
        }
    }

    .edt-header,
    .edt-contenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px 0;
        border-bottom: 3px solid $background1;
        text-align: center;
    }

    .edt-contenu {
        border-bottom: none;
    }

    .edt-header p {
        font-weight: 900;

    }

}

.carte-gym:last-child .tableau-edt .edt-header p {
    font-weight: 500;
}

/*-----------------------Tarifs-----------------------------*/

#tarifs {
    h2 {
        margin-left: 1.2rem;
    }

    .tableau-tarifs {
        margin: auto;
        border-collapse: collapse;
        background-color: $background2;
        font-family: "made_tommyregular";
        text-align: center;
        border: solid 1px $background1;

        th {
            background-color: $background1;
            color: $text3;
            padding: 12px;
            text-transform: uppercase;
            font-weight: bold;
        }

        td {
            padding: 10px;
            border: 1px solid $background1;

            br {
                margin-bottom: 5px;
            }
        }

        tr:nth-child(even) {
            background-color: $background2;
        }


        th:nth-child(3) {
            padding: 10px 25px;
        }

        th:nth-child(1) {
            padding: 10px 15px;
        }
    }
}

/*--------------------Pied de page---------------------------*/
#pied {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $background2;
    margin-top: 100px;
    padding: 16px 16px;

    a img {
        width: 108px;
    }

    .copyright {
        text-align: center;
    }

    a {
        font-family: "creato_displayregular";
        margin-top: 15px;
        font-size: 14px;
        text-decoration: underline;
    }

}

/*------------------------Mentions légales------------------------*/

#mentions-legales {
    margin: 0 40px;

    h3 {
        margin-bottom: 8px;
        margin-top: 24px;
    }
}